# Build directories
bin/
obj/

# Ignore all YAML files
*.yml

# But NOT these specific ones
!/.github/
!/.github/workflows/
!/.github/workflows/publish-nuget.yml
!/.github/workflows/test-publish-nuget.yml